header .pfp{
    width: 400px;
    height: 200px;
    background-image: url('./../img/Website-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin: 0 auto;
}

header h1{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    margin: -20px 0 5px -250px;
}

header h2{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    margin: -23px 0 5px 250px;
}

main{
    padding-top: 2.5%;
}

main .Photo-1{
    width: 250px;
    height: auto;
    margin: 26px 0px 0px 170px;
}
main .Photo-2{
    width: 250px;
    height: auto;
    margin: 26px 0px 0px 10px;
}
main .Photo-3{
    width: 250px;
    height: auto;
    margin: 26px 0px 0px 10px;
}