header .pfp{
    width: 400px;
    height: 200px;
    background-image: url('./../img/Website-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin: 0 auto;
}

header h1{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    margin: -20px 0 5px -250px;
}

header h2{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    margin: -23px 0 5px 250px;
}

main {
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Image-block {
  width: auto;
  max-width: 1200px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.gallery img {
  width: auto;
  max-width: 1200px;
  max-height: 400px;
  height: auto;
  flex: 0 1 auto;
}